name: phar
on:
  workflow_dispatch:
  release:
    types: [ "published" ]

# Actions
# shivammathur/setup-php@v2 https://github.com/marketplace/actions/setup-php-action
# softprops/action-gh-release@v2 https://github.com/softprops/action-gh-release

jobs:
  phar:
    name: Create PHAR
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2' # use lower compatible version
          coverage: none
          tools: composer:v2, box
        env:
          fail-fast: true
      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: "${{ steps.composer-cache.outputs.dir }}"
          key: "${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}"
          restore-keys: "${{ runner.os }}-composer-"
      - name: Install project dependencies
        run: composer upgrade --no-interaction --no-progress --prefer-dist --no-dev
      - name: Compile PHAR
        run: box compile --verbose
      - name: Show PHAR information
        run: box info build/descarga-masiva.phar --list
      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.version }}
          files: build/descarga-masiva.phar
